.title-section{
    font-size: 18px;
    font-family: Urbanist;
    font-weight: 700;
    color: var(--cor--erro);
    margin: 10px 0;
}

.section-behavior{
    display: flex;
    align-items: center;
    gap: 20px;
    overflow: auto;
}

.section-behavior::-webkit-scrollbar {
    display: none;
}