.card-food-category{
    display: flex;
    font-family: Urbanist;
    gap: 10px;
}

.food-category-img img{
    width: 125px;
    height: 100px;
    border-radius: 12px;
    object-fit: cover;
    object-position: center;
}

.food-category-img h3, .food-category-desc p{
    font-weight: 500;
    font-size: 14px;
}

.food-category-img{
    text-align: center;
}