.card-categories{
    margin-bottom: 20px;
    max-height: 271px;
}

.categories-image{
    width: 140px;
    height: 240px;
    border-radius: 18px;
    object-fit: cover;
    object-position: center;
}

.categories-title{
    font-family: Urbanist;
    color: var(--cor--erro);
    font-weight: 500;
    font-size: 18px;
    padding-top: 5px;
    text-align: center;
}