@import url('https://fonts.googleapis.com/css2?family=Megrim&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --cor--primaria: #A60402;
  --cor--secundaria: #DFC4A2;
  --cor--input:#F0E4D4;
  --cor--placeholder: #A9A197;
  --cor--bg:#F7F1E8;
  --cor--hover--botao: #970402;
  --cor--press--botao: #760301;
  --cor--confirmacao: #008124;
  --cor--erro: #8c2e0e;
  --cor--info: #0077a9;
  --cor--aviso: ##e8d000;
  --cor--preto:black;
  --cor--branco:white;
  --primary-red-500: #a60402;
  --primary-red-600: #970402;
  --primary-red-700: #760301;
  --prymary-sand-400: #e5d0b5;
  --prymary-sand-500: #dfc4a2;
  --prymary-sand-600: #cbb293;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
}

body{
  background-image: url('./assets/img/bg.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container{
  max-width: 400px;
  margin: 0 auto;
  padding: 0 2%;
}

.default-container{
  min-height: 100dvh;
}

.container-bg{
  max-width: 400px;
  margin: 0 auto;
  background-color: var(--cor--bg);
}

.container-bg-red{
  max-width: 400px;
  margin: 0 auto;
  background-color: var(--cor--primaria);
}

.container-invite{
  max-width: 400px;
  margin: 0 auto;
  background-image: url(./assets/img/bg-invite.png);
  background-position: top;
  /* background-repeat: no-repeat; */
  background-size: cover;
  position: relative;
}

a{
  text-decoration: none;
}

.overlay{
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0;
  background-color: rgba(194, 37, 37, 0.5);
}